@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@theme {
    /* Fonts */
    --font-poppins: "Poppins", sans-serif;
    --font-outfit: "Outfit", sans-serif;

    /* Colors */
    --color-primary: #5f6fff;
    --color-pm-hover: #625fff;
    --color-black1: #1f2937;
    --color-gray1: #4b5563;
    --color-purple1: #eaefff;
    --color-purple2: #c9d8ff;

    /* Font Size */
    --text-18: 18px;
    --text-20: 20px;
    --text-22: 22px;
    --text-30: 30px;
    --text-40: 40px;
    --text-43: 43px;
    --text-52: 52px;
    --text-63: 63px;

    /* Spacing, Padding and Margin */
    --spacing-10: 10px;
    --spacing-12: 12px;
    --spacing-14: 14px;
    --spacing-16: 16px;
    --spacing-18: 18px;
    --spacing-22: 22px;
    --spacing-26: 26px;
    --spacing-32: 32px;
    --spacing-36: 36px;
    --spacing-38: 38px;
    --spacing-40: 40px;
    --spacing-44: 44px;
    --spacing-45: 45px;
    --spacing-60: 60px;
    --spacing-64: 64px;
    --spacing-80: 80px;
    --padding-90: 90px;
    --spacing-120: 120px;
    --spacing-150: 150px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
