@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@theme {
    /* Fonts */
    --font-poppins: "Poppins", sans-serif;
    --font-outfit: "Outfit", sans-serif;

    /* Colors */
    --color-primary: #5f6fff;
    --color-pm-hover: #625fff;

    /* Font Size */
    --text-18: 18px;
    --text-43: 43px;
    --text-63: 63px;

    /* Spacing */
    --spacing-12: 12px;
    --spacing-14: 14px;
    --spacing-22: 22px;

    /* Padding */
    --spacing-10: 10px;
    --spacing-14: 14px;
    --spacing-18: 18px;
    --spacing-32: 32px;
    --spacing-36: 36px;
    --spacing-45: 45px;
    --padding-90: 90px;

    /* Margin */
    --spacing-26: 26px;
}
